rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /publicTournaments/{tournamentId} {
      allow read: if true;
      allow write: if false;

      match /{document=**} {
        allow read: if true;
        allow write: if false;
      }
    }

    match /tournaments/{tournamentId} {
      allow read: if true;
      allow write: if false;

      match /{document=**} {
        allow read: if true;
        allow write: if false;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
